# To avoid uploading the node_modules folder, filled with node.js packages:
node_modules/

# Dont commit the build directory
build/

# This is the generated article data json file
src-3d/article-data.json