@import url('code.css');

@font-face {
  font-family: 'Neon Font';
  src: url('../fonts/clip.ttf') format('truetype');
}

:is(.article-content, .content) p {
  text-align: justify;
}

.blog-primary-wrapper .blog-article {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 500px;
}

.blog-primary-article img {
  width: 100%;
}

.author {
  margin-bottom: 100px;
}

.more {
  text-align: right;
}

:is(.blog-primary-wrapper .more)::before {
  content: '...';
}

body {
  background-color: #2d132c;
  font-family: Signika, Roboto, sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.article-wrapper {
  padding: 15px;
}

.article-wrapper img {
  width: 100%;
}

:is(a:link, a:visited, a:active) {
  text-decoration: none;
  color: #ee4540;
}

:is(.article-content h1, .article-content h2, .article-content
    h3, .article-content h4, .blog-primary-article
    .content
    h1, .blog-primary-article .content h2, .blog-primary-article
    h3, .blog-primary-article .content h4) {
  color: #c72c41;
  font-size: 1.7em;
  font-family: 'Permanent Marker', cursive;
}

a:hover {
  color: #801336;
}

.top-go-back {
  margin-bottom: 60px;
}

.top-go-back a {
  color: #fff;
}

.section-title {
  text-align: center;
  font-family: 'Neon Font', Times New Roman, times-roman, georgia, serif;
  font-size: 3em;
  line-height: 0;
  text-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
}

.paginator-wrapper.give-me-space-above {
  margin-top: 60px;
}

.paginator-wrapper.give-me-space-below {
  margin-bottom: 60px;
}

.paginator-wrapper a {
  color: #fff;
}

.paginator-wrapper .left {
  float: left;
}

.paginator-wrapper .right {
  float: right;
}

.youtube {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vw * 0.795);
  width: 100%;
}

:is(h1, h2, h3, h4) {
  color: #fff;
}

.icon-color {
  color: #ee4540;
}

strong {
  color: #ee4540;
}

strong,
a {
  font-size: 20px;
}

li {
  color: #fff;
  font-size: 18px;
}

.blog-primary-wrapper {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.projects {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 1920px;
}

.neumorphic {
  border-radius: 10px;
  background: linear-gradient(145deg, #291128, #30142f);
  box-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
}

.projects > * {
  flex: 1 1 400px;
  padding-bottom: 20px;
}

.projects > * > h1 {
  margin-left: 20px;
}

.project-image {
  text-align: center;
}

.project-image img {
  max-height: 130px;
  max-width: 80%;
}

.project-specs {
  padding: 0 20px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 100px 0;
}

.social-icon {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background: linear-gradient(145deg, #291128, #30142f);
  box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
    0px 0px 0px #140914, 0px 0px 0px #461d44;
  transition: box-shadow 175ms;
  padding: 20px;
}

.social-icon:hover {
  box-shadow: inset 0px 0px 0px #140914, inset 0px 0px 0px #461d44,
    5px 5px 10px #140914, -5px -5px 10px #461d44;
}

.social-icon img {
  filter: brightness(0) saturate(100%) invert();
}

.social-icon-square {
  border-radius: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.button {
  border-radius: 25px;
  background: linear-gradient(145deg, #291128, #30142f);
  box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
    0px 0px 0px #140914, 0px 0px 0px #461d44;
  transition: box-shadow 175ms;
  padding: 20px 30px;
  white-space: nowrap;
}

.button:hover {
  box-shadow: inset 0px 0px 0px #140914, inset 0px 0px 0px #461d44,
    5px 5px 10px #140914, -5px -5px 10px #461d44;
}

#logo:hover {
  animation: tada;
  animation-duration: 800ms;
}

header h1 {
  margin-left: 10vw !important;
  font-size: 2vw !important;
  text-align: left !important;
  padding: 0px !important;
  font-family: 'Neon Font' !important;
  transform: translateY(-2.3vw);
  display: none;
}

p {
  color: #fff;
}

.spacer {
  padding-top: 30px;
}

header {
  padding: 10px 0px 50px 0px;
}

footer {
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px 'Arial';
  text-align: center;
  position: relative;
  color: white;
}

.archive {
  width: 80%;
  margin: 0 auto;
}
.archive * {
  float: none !important;
  line-height: 1.6 !important;
  width: auto !important;
  height: auto !important;
  text-align: left !important;
  border: 0;
  margin: 0 !important;
}

.article-title img {
  animation: flipInY;
  animation-duration: 1300ms;
}

@media only screen and (max-width: 1023px) {
  .blog-primary-article {
    border-radius: 10px;
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
  }
}

@media only screen and (min-width: 1023px) {
  .section-title {
    font-size: 5em;
  }

  header {
    padding: 25px 25px 50px 25px;
    position: relative;
    overflow: hidden;
  }

  .social-icon {
    height: 60px;
    width: 60px;
  }

  .blog-article {
    border-radius: 10px;
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
    padding: 20px;
  }

  :is(.article-content, .blog-primary-article .content)::first-letter {
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    margin-left: 1rem;
    position: relative;
  }

  .archive {
    width: 32em;
    margin: 5em auto 6em;
    padding-left: 2em;
  }

  .archive h2 {
    font-family: 'Neon Font', Times New Roman, times-roman, georgia, serif;
    font-size: 5em;
    line-height: 0;
    text-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
    font-weight: unset;
  }

  .archive a,
  .archive span {
    display: block;
    float: left;
    margin-bottom: -1px;
    text-decoration: none;
  }
  .archive li:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: -1px;
  }

  .archive a.last,
  .archive span.last {
    border: 0;
    margin-bottom: 0;
  }

  .archive a {
    width: 21em;
    text-indent: 1em;
    white-space: nowrap;
  }

  .archive .year-label,
  .archive .month-label {
    width: 4em;
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: 400;
    text-rendering: auto;
    letter-spacing: 1px;
    text-align: center;
  }

  .archive .month-label {
    width: 7em;
  }

  .archive ul {
    list-style: none;
    margin: 0;
  }

  .archive ul li {
    margin: 0;
  }

  .archive ul li ul li a {
    text-align: right !important;
  }

  .top-go-back {
    margin-bottom: 100px;
  }

  .paginator-wrapper.give-me-space-above {
    margin-top: 150px;
  }

  .paginator-wrapper.give-me-space-below {
    margin-bottom: 150px;
  }

  .paginator-wrapper a {
    font-family: 'Neon Font', Times New Roman, times-roman, georgia, serif;
    font-size: 5em;
    line-height: 0;
    text-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
  }

  .author {
    text-align: right;
    margin-bottom: 20px;
  }

  .article-title-image {
    margin-left: 2rem;
    position: relative;
  }

  .article-title {
    display: flex;
    position: relative;
  }

  .article-title > * {
    flex-basis: 100%;
    display: flex;
    /* align-content: center; */
  }

  .article-title > h1 {
    text-align: right;
  }

  .article-title img {
    width: 60%;
    /* margin-right: auto; */
    object-fit: contain;
  }

  :is(.article-wrapper .article-title h1):before {
    content: '';
    display: block;
    position: absolute;
    box-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
    width: 1rem;
    height: 100%;
    top: 0;
    left: 43%;
    border-radius: 10px;
  }

  :is(.article-content h1, .article-content h2, .article-content
      h3, .article-content h4) {
    font-size: 3em !important;
    font-family: 'Permanent Marker', cursive;
    /* text-align: center; */
    margin-left: 2rem;
    position: relative;
  }

  :is(.article-content h1, .article-content h2, .article-content
      h3, .article-content h4):before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
      0px 0px 0px #140914, 0px 0px 0px #461d44;
    width: 1rem;
    height: 100%;
    top: 0;
    left: -2rem;
    border-radius: 10px;
  }

  /* :is(.article-content h1, .article-content h2, .article-content
      h3, .article-content h4):after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
      0px 0px 0px #140914, 0px 0px 0px #461d44;
    width: 1rem;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 10px;
  } */

  .projects {
    flex-direction: row;
    /* width: 80%; */
  }

  .projects > * {
    max-width: 50%;
  }

  header h1 {
    display: block !important;
  }

  .button-group {
    gap: 2em !important;
  }

  .header-background {
    transform: skewY(-5deg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#2d132c, #ee4540, #2d132c);
    transform-origin: top left;
    z-index: -2;
  }

  .article-wrapper {
    margin: auto;
    margin-top: 70px;
    width: 80%;
    position: relative;
    padding: 0;
  }

  .article-content img {
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
      0px 0px 0px #140914, 0px 0px 0px #461d44;
    padding: 20px;
    /* width: calc(100% - 40px); */
    border-radius: 10px;
    transition: box-shadow 175ms;
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 1.8em;
  }

  .article-content img:hover {
    box-shadow: inset 0px 0px 0px #140914, inset 0px 0px 0px #461d44,
      5px 5px 10px #140914, -5px -5px 10px #461d44;
  }

  .youtube {
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
      0px 0px 0px #140914, 0px 0px 0px #461d44;
    padding: 20px;
    border-radius: 10px;
    height: calc((80vw * 0.8) * 0.83);
    width: 80%;
  }

  :is(.blog-primary-article):nth-child(even) .article-title h1 {
    text-align: left;
  }

  .article-title h1 {
    text-align: right;
    font-family: 'Neon Font', Times New Roman, times-roman, georgia, serif;
    font-size: 4em;
    text-shadow: 5px 5px 10px #140914, -5px -5px 10px #461d44;
    font-weight: unset;
  }

  .blog-primary-article .article-title h1 {
    font-size: 2.5em;
  }

  .blog-primary-wrapper {
    width: 65%;
    margin-top: 5em;
    position: relative;
    gap: 10em;
  }

  .blog-primary-article {
    width: 70%;
  }

  .blog-primary-article .blog-article {
    padding: 3em;
  }

  .blog-primary-article .blog-article .date {
    /* text-align: right; */
  }

  .blog-primary-article img {
    background: linear-gradient(145deg, #291128, #30142f);
    box-shadow: inset 5px 5px 10px #140914, inset -5px -5px 10px #461d44,
      0px 0px 0px #140914, 0px 0px 0px #461d44;
    padding: 20px;
    margin: auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 1.8em;
    position: absolute;
    width: 30% !important;
    max-height: 400px;
    object-fit: cover;
    transition: box-shadow 175ms;
  }

  .blog-primary-article img:hover {
    box-shadow: inset 0px 0px 0px #140914, inset 0px 0px 0px #461d44,
      5px 5px 10px #140914, -5px -5px 10px #461d44;
  }

  .blog-primary-article:nth-child(odd) img {
    left: 0px;
  }

  .blog-primary-article:nth-child(odd) {
    margin-left: auto;
  }

  .blog-primary-article:nth-child(even) img {
    right: 0px;
  }
}

@media only screen and (min-width: 1600px) {
  .article-title h1 {
    font-size: 5em;
  }

  .blog-primary-article .article-title h1 {
    font-size: 4em;
  }

  .article-wrapper {
    width: 60%;
  }

  .article-wrapper img {
    width: 60%;
  }

  .youtube {
    height: calc((60vw * 0.6) * 0.839);
    width: 60%;
  }
}
