
extends layout

block content
    div(class="no-background-color-override article")
        header
            p(class="date")
                span My Social Links

            div(class="landing-page-item")    
                a(href=locals.github target="_blank")
                    img(id="github-logo", src="/images/github-logo.svg", alt="Jason Lambert's Github Repository")

    //- div(class="no-background-color-override article")
    //-     header
    //-         p(class="date")
    //-             span My Programming Projects

    //-         div(class="landing-page-item")    
    //-             a(href=locals.vinylView)
    //-                 img(id="vinyl-view-logo", src="/images/vinyl-view-logo.svg", alt="Vinyl View - A Real Time Turntable Music Visualizer")

    div(class="no-background-color-override article")
        header
            p(class="date")
                span My Programming Blog

            div(class="landing-page-item")    
                a(href=locals.blog)
                    img(id="blog-logo", src="/images/blog-logo.svg", alt="Jason Lambert's Programming Blog")


