
extends layout

block content

    div(class="landing-page-parent")

        div(class="landing-page-item dashed-border" onclick=`window.location.href='` + locals.blog + `';`)
            a(href=locals.blog)
                img(id="blog-logo", src="/images/blog-logo.svg", alt="Jason Lambert's Programming Blog")

        div(class="landing-page-item dashed-border" onclick=`window.location.href='` + locals.github + `';`)
            a(href=locals.github target="_blank")
                img(id="github-logo", src="/images/github-logo.svg", alt="Jason Lambert's Github Repository")

        div(class="landing-page-item dashed-border" onclick=`window.location.href='` + locals.tShirt + `';`)
            a(href=locals.tShirt)
                img(id="tshirt-logo", src="/images/jasons-tees-logo.png", alt="Jason's Tees")
